.contain {
 margin-bottom: 12rem;

}

.card {
    background-color: #cbe2ec;
    min-height: 19rem;
    margin: 3rem 1rem 4rem 1rem;

}

.links{
    text-decoration: none;
    color: #1a1a1a;
}

.card2 {
    background-color: #cbe2ec;
    min-height: 19rem;
    margin: 3rem 1rem 4rem 0rem;
}

.goback {
    background-color: #346D95;
    color: white;
    width: 144px;
    height: 42px;
    border-radius: .4rem;
    border: none;
    margin-left: 1rem;
}

@media only screen and (max-width: 600px){
    .card {
        background-color: #cbe2ec;
        min-height: 19rem;
        margin: 3rem 1rem 2rem 1rem;
    
    }

    .card2 {
    margin: 1rem 1rem 4rem 1rem;

    }
}

